render:
  show: true
  show_obs: true

train:
  train_mode: false
  job_type: 'sam'
  job_name: 'sam_model'
  batch_size: 32
  checkpoint_freq: 6000
  exploration_timesteps: 6000
  final_exploration: 0.01
  gamma: 0.99
  grad_norm_clipping: 10
  job_id_to_resume: null
  learning_rate: 0.01
  learning_starts: 1000
  n_epochs: 10
  n_steps: 256
  replay_buffer_size: 10000
  resume_training: false
  target_update_freq: 1000
  total_timesteps: 60000
  use_correct_direction_reward: true
  verbose: 2
  weight_decay: 0.0001
  tries_before_inactive: 3000

  
### ENVIRONMENT PARAMS
env:
  area_clearing_version: "Partially_closed_with_walls" # Choose from one of them: Fully_open_area, Partially_closed_with_walls, Partially_closed_with_static
  room_width: 2.845 # From inside of wall to inside of wall
  room_length: 1.575 # From inside of wall to inside of wall
  distance_between_inner_goal_and_outer_wall_width: 0.1
  distance_between_inner_goal_and_outer_wall_length: 0.1
  wall_clearence_inner: 0.05 # Distance between the goal and inner wall
  internal_clearance_length: 0.2 
  shortest_path_channel_scale: 0.25
  local_map_pixel_width: 224
  local_map_pixel_width_sam: 96
  wall_thickness: 50.0 # Really high wall thickness to ensure nothing in vicinity of local maps
  invert_receptacle_map: false
  sim_timestep: 0.01

boxes:
  num_boxes: 10
  clearance: 0.1
  box_half_size: 0.04
  box_mass: 0.075 # mass(kg) for each box without wheels
  box_sliding_friction: 0.4
  box_torsional_friction: 0.015
  box_rolling_friction: 0.002

wheels_on_boxes:
  # Upon adjusting parameters here all other physics parameters like moment of inertia etc are adjusted automatically
  wheels_on_boxes: True       # if true, the boxes would have wheels
  wheels_mass: 0.08           # mass in terms of kg for each wheel on the box
  wheels_support_mass: 0.10   # mass in terms of kg for each wheel support on the box
  wheels_sliding_friction: 0.8
  wheels_torsional_friction: 0.01
  wheels_rolling_friction: 0.002
  wheels_support_damping_ratio: 0.001

small_pillars:
  num_pillars: 4
  pillar_half: [0.1, 0.1, 0.20]

misc:
  ministep_size: 2.5
  inactivity_cutoff_sam: 100
  inactivity_cutoff: 200
  random_seed: 42

agent:
  action_type: 'position' # options are velocity, heading, position
  length: 0.138
  width: 0.183
  robot_clear: 0.15
  type_of_bumper: 'straight' # Choose from one of them: curved_inwards, straight, curved_outwards
  bumper_mass: 0.1 # mass (kg) for the bumper so that can switch between different plastic materials

rewards_sam:
  partial_rewards_scale: 0.2
  goal_reward: 1.0
  collision_penalty: 0.25
  non_movement_penalty: 0.25
  correct_direction_reward_scale: 1
